@import "./../../node_modules/styleguide.ryanair.com/src/rooms-brand";

.bg-light-base {
  background: $light-base;
}

.bg-error-red {
  background: $error-red;
}

.bg-rooms-blue {
  background: $rooms-blue;
}

.bg-lines-grey{
  background: $lines-grey;
}